[PiKVM]
ip = your_pikvm_ip
user = admin
password = admin

[VM]
ip = your_vm_ip

[Restic]
repo = rest:http://your_vm_ip:8000
backup_target = /path/to/data
exclude_file = /path/to/restic_exclude_list_file
password_file = /path/to/restic_password_file
